/* body{
  background-image: url(./assests/images/hero-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */
.Light{
  background-color: #d2c8c878;
  color: black;
  /* text-align: center; */
}
.Dark{
color: white;
background-color: #323232 !important;
}

h1 {
  font-weight: 900;
}
.login-input {
  margin: 20px 10px;
}
button.btn {
  width: 100px;
  height: 35px;
  font-weight: 900;
  border-radius: 10px;
  margin: 15px;
  border: 0;
  background-color: #6b6b6b;
}
button.btn:hover {
  background: #8e8d8d;
  text-decoration: none;
}

button.btn:active {
  background: #545454;
}
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 50vw;
  min-width: 250px;
  box-shadow: 2px 2px 10px 1px;
  align-items: center;
  padding: 20px;
  color: black;
  background: white;
  margin: 20px auto;
  border-radius: 20px;
}
.box div {margin: 5px auto;}

button.link-btn {
  color: inherit;
  font-weight: 900;
  background: 0;
  margin: 5px;
  border: 0;
  padding: 8px;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

button.link-btn:hover {
  text-decoration: none;
  background-color: grey;
  border-radius: 10px;
}